*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.home, .products, .reports {
display: flex;
height:90vh;
justify-content: center;
align-items: center;
font-size:3rem;
}